package ${package.Form};

import ${package.parent}.repository.base.entity.BaseEntity;
import java.util.Date;
#if(${entityLombokModel})
import lombok.Data;
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

/**
 * @Description : $!{table.comment}【前端交互对象】
 * @time 创建时间 : ${date}
 * @author : ${author}
 * @Copyright (c) ${date} 易视腾科技
 * @version $!{version}
 */
#if(${entityLombokModel})
@Data
#end
@ApiModel("$!{table.comment}【实体类】")
public class ${table.originalEntityName}Form extends BaseEntity{
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end

#if("id"==${field.name} || "create_by"==${field.name} || "create_time"==${field.name} || "update_by"==${field.name} || "update_time"==${field.name})
## ----------  父类中的字段 不处理 ----------
#else
    #if("$!field.comment" != "")
        /** ${field.comment} */
    #end
    @ApiModelProperty(value = "$!{field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
}