package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * @Description : $!{table.comment}【service接口】
 * @time 创建时间 : ${date}
 * @author : ${author}
 * @Copyright (c) ${date} 易视腾科技
 * @version $!{cfg.version}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
##	/**自动生成 ${date} */
##    public Page<Map<String,Object>> selectMapList(Page<Map<String,Object>> page, Map<String,Object> params);

	/**自动生成 ${date} */
	#if(${cfg.getLabelAndValueList})
    public List<Map<String,Object>> getLabelAndValueList(Map<String,Object> params);
	#end

	#if(${cfg.needEmptyMethod})
		#foreach($monthName in ${cfg.emptyMethods})
	/**
	 *  $monthName 方法
	 *  自动生成 ${date}
	 */
	#if(${monthName.endsWith("Page")})
	public List<Map<String,Object>> ${monthName}(Page<Map<String,Object>> page,Map<String,Object> params);
	#else
	public List<Map<String,Object>> ${monthName}(Map<String,Object> params);
	#end
		#end
	#end
}
#end
